.idea
.vscode
RpgBot/.env
RpgBot/bin
RpgBot/obj
**/*.db
RpgBot.sln.DotSettings.user
TelegramRpgBot/.env
TelegramRpgBot/bin
TelegramRpgBot/obj
TelegramRpgBot.sln.DotSettings.user
RpgBotUnitTests/obj
RpgBotUnitTests/bin
